.card{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
    width:400px;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 0 5px black;
    min-height: 520px;
}
.card:hover{
    background-color: #F54768;
    color: #41436A;
    box-shadow: none;
}

.Link{
    text-decoration: none;
    font-family: fantasy;
    color: palegoldenrod;
}
.cardName{    
    align-self: center;
    font-weight: 400;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.cardImg{
    align-self: center;
    margin: 10px;
    border-radius: 10px;
    max-width: -webkit-fill-available;
    min-height: 300px;
    max-height: inherit;

}
.loading{
    align-self: center;
    margin: 10px;
    border-radius: 10px;
    max-width: -webkit-fill-available;
    min-height: 300px;
    max-height: inherit;
}

.genreList{
    display:flex;
    align-items: flex-end;
    justify-content: space-evenly;
    list-style: none;

}

