.heads{
    display:flex;
    flex-wrap:wrap;
}


.searchs{
    display:flex;
    flex-wrap:wrap;
}

.gamesHolder{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.tit{
    display:block;
    color:white;
}
.tops{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: black;
   color:white;
}