.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: fantasy;
    font-size: 1.05em;
    font-weight: 100;
    color: palegoldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.tit{
    text-align: center;
}
.listados{
    display: flex;
    width: 100%;
    margin: auto;        
}
.bigList{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.lists{
    list-style: none;
    display:flex;
    flex-direction: column;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}
.num{
    margin: 10px auto;
    padding: 10px;
}
.dat{
    display: inline;
    margin: 5px;
}

.txt{
    color:palegoldenrod;
    font-family: fantasy;
    font-weight: 100;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.load{
    background-color: #41466a;
    border-radius:10px;
    height:500px;
}
.background{
    z-index: -1;
    position: absolute;
    max-width:100%;
    min-height:100%;
    margin: auto auto;
}
.shadow{
    box-shadow: rgb(17 17 26 / 32%) 0px 0px 16px;    
    border-radius: 20px;
}
.desc{
    padding: 10px;
    margin: 0 auto;
    min-height:200px;
    min-width: 100%;
}