.home{
    text-align: center;
    border-radius:10px;
    background-color: #974063
}
.title{
    font-family: fantasy;
    font-weight: 100;
    color:palegoldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin:10px;
}
.mainContainer{
    background-color: #41436A;
}