.navBar{
    position:relative;
    background-color: black;
}
.navigation{
    position:absolute;
    top:0px;
    right:50px;

}
.filtering{
    display:flex;
    position:relative;
    left:20px
}