.navigation{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
}
.navBtn{
    background-color: rgb(90, 9, 90 , 0.75);
    text-decoration: none;
    font-family: fantasy;
    color: palegoldenrod;
}
.activeBtn{
    background-color: rgb(90, 9, 90 )
}
