.navigation{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.navBtn{
    background-color: rgb(90, 9, 90 , 0.75);
    text-decoration: none;
    font-family: fantasy;
    color: palegoldenrod;
}
.activeBtn{
    background-color: rgb(90, 9, 90 )
}
