.container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    list-style: none;
    background-color: #41436A;
    border-radius:10px;
    
}
.link{
    text-decoration: auto;
    color: palegoldenrod;
    margin: 0 2px 2px 0;
    font-size: 1.5em;
}
.link:hover{
    color:#FF9677
}
