body{
    background-color: #974063;
}
.bgrd{
    text-align: center;
}
.img{
    border-radius: 50%;
    max-width: 300px;
    margin:auto;
}

.button{
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    text-decoration: auto;
    color: #FF9677;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: fit-content;
    margin-inline: auto;
    bottom: 60px;
    border: solid;
}
.button:hover{
    background-color:#FF9677;
    color: #0e2954;
}