.results{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin:5px;
    background-color: #41466a;
    text-align: center;
}
.tit{
    font-family: fantasy;
    font-weight: 100;
    color:palegoldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #41466a;
    border-radius:10px;
}
.btn{
    width:200px;
    margin:auto;
    margin-bottom:10px;
}