.mainList {
    display: flex;    
    justify-content: space-between;
}
ul{
    list-style: none;
    padding-left: 0px;
}

nav li{
    margin-top: 5px;
    position: relative;
    width:33%;
    display:flex;
    justify-content: center;
}
nav li>ul{
    display:none;
}
label{
    width:70px;
}
#filterControl{
    display: none;
}
#orderControl{
    display: none;
}
.boxContainer{
    display:none;
}
#filterControl:checked + div {
    display:block;
    position:absolute;
    top: 30px;
    left: 10px;
    z-index: 9999;
    background-color: #F54768;
    border-radius:10px;
    padding:10px;
    box-shadow: 0 0 5px black;
    width: 300px;
    text-align: center;
}
#filterControl:checked + div > ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: fantasy;
    font-weight: 100;
    color:palegoldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
    
}

#orderControl:checked + ul{
    display:flex;
    z-index: 9999;
    flex-direction:column;
    border-radius:10px;
    padding: 10px;
    position: absolute;
    top: 30px;
    background-color: #F54768;
    width: max-content;
    box-shadow: 0 0 5px black;
    font-family: fantasy;
    font-weight: 100;
    color:palegoldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}


.list{
    list-style:none;        
}
.clear{
    position:absolute;
    right:0px;
}
.searchbar{    
    display:flex;
    width: 60%;
    justify-content: center;
}

.subtit{
    align-self: center;
    font-family: fantasy;
    font-weight: 100;
    color:palegoldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}
.orderLi{
    width:fit-content;
}
.genreList li{
    margin: auto 0;
    padding: 7px 0;
}
.genreList::after{
    content: "";
    width:198px;
}